<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - NHACMOI</title>
    <script type="text/javascript" src="~/Assets/Customer/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/contactform.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/Customjs.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/height.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/html5shiv.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/jquery-ui.min.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/jquery.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/navigation.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/respond.min.js">
    </script>
    <script type="text/javascript" src="~/Assets/Customer/js/totop.js">
    </script>
    <link rel="stylesheet" href="../Assets/Customer/css/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Assets/Customer/css/style.css" type="text/css" media="screen" />

</head>
<body class="Home">
    <div class="totopshow">
        <a href="#" class="back-to-top"><img alt="Back to Top" src="images/gototop0.png" /></a>
    </div>
    <div id="ttr_page" class="container">
        <nav id="ttr_menu" class="navbar-default navbar">
            <div id="ttr_menu_inner_in">
                <div class="menuforeground">
                </div>
                <div id="navigationmenu">
                    <div class="navbar-header">
                        <button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                        </button>
                        <a href="http://www.templatetoaster.com" target="_self">
                            <img class="ttr_menu_logo" src="images/logo.png">
                        </a>
                    </div>
                    <div class="menu-center collapse navbar-collapse">
                        <ul class="ttr_menu_items nav navbar-nav navbar-right">
                            <li class="ttr_menu_items_parent dropdown active">
                                <a href="home.html" class="ttr_menu_items_parent_link_active"><span class="menuchildicon"></span>Home</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="about-us.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>About Us</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="services.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Services</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="projects.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Projects</a>
                                <hr class="horiz_separator" />
                            </li>
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="contact.html" class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Contact</a>
                                <hr class="horiz_separator" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header id="ttr_header">
            <div id="ttr_header_inner">
                <div class="ttr_headershape01">
                </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer id="ttr_footer">
            <div class="ttr_footer_bottom_footer">
                <div class="ttr_footer_bottom_footer_inner">
                    <div id="ttr_copyright">
                        <a href="#">
                            manhtanqhp@gmail.com
                        </a>
                    </div>
                    <div id="ttr_footer_designed_by_links">
                        <a href="http://templatetoaster.com" target="_self">
                            Website
                        </a>
                        <span id="ttr_footer_designed_by">
                            nghe nhạc
                        </span>
                    </div>
                    <a href="http://www.facebook.com/TemplateToaster" class="ttr_footer_facebook" target="_self">
                    </a>
                    <a href="http://twitter.com/templatetoaster" class="ttr_footer_twitter" target="_self">
                    </a>
                    <a href="http://www.templatetoaster.com" class="ttr_footer_googleplus" target="_self">
                    </a>
                </div>
            </div>
        </footer>
        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
    </div>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Oleo+Script:700', 'Oxygen:700', 'Roboto:700', 'Oxygen'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
